<script>
    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById("mybutton").addEventListener("click", function(e){
            e.preventDefault();
            getLocation();
        });
    });
</script>

</body>
</html>