<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our font for logo and subtitle -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Map Box -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet'>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <!-- jQuery (required by Materialize) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
    <!-- jQuery UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
    <!-- Using Underscore for collection manipulation and client-side templating -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" defer></script>
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <!-- Mapbox link -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js' defer></script>
    <script src="/js/statusButton.js" defer></script>
    <script src="/js/navbar.js" defer></script>
    <script src="/js/app.js" defer></script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Seattle Transit</title>
</head>
<body>
    <a href="#" data-target="slide-out" class="sidenav-trigger card"><i id="menu" class="large material-icons">menu</i></a>
<script>
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);
    window.addEventListener('resize', () => {
        // We execute the same script as before
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
</script>
<!-- Sidenav -->  
<div id="slide-out" class="sidenav">
    <div class="user-view sidebar-userinfo">
        <br>
        <div class="profile">
            <% if (user) { %>
                <div class="valign-wrapper">
                    <img src="<%= user.avatar %>" alt="" class="circle responsive-img">&nbsp;&nbsp;
                    <span class="card-title"><%= user.name %></span>
                </div>
            <% } else { %>
                <!-- <button class ="pillbutton">Log In</button> -->
                <a id="log" class="waves-effect pillbutton" href="/auth/google">Log In</a>
            <% } %>
        </div>
        <div class="background valign-wrapper profile">
        </div>
    </div>
    <div class="center-align">
        <button a href="#!" class="pillbutton"><i class="tiny material-icons">favorite</i>Favorites</button>
        <br>
        <button a href="#!" class="pillbutton"><i class="tiny material-icons">location_on</i>Locate Me</button>
        <br>
        <button a href="#!" class="pillbutton"><i class="tiny material-icons">add_alert</i>Reminders</button>
        <br>
        <button a href="#!" class="pillbutton"><i class="tiny material-icons">date_range</i>Schedules</button>
        <br>
        <button a href="#!" id="locationPermBtn" class="pillbutton"><i class="tiny material-icons">location_searching</i>Location Permission</button>
    </div>
    <!-- <div class="page-footer">
        <a class="btn" href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
    </div> -->
</div>