<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Map Box -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet'>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <!-- jQuery (required by Materialize) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
    <!-- Using Underscore for collection manipulation and client-side templating -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" defer></script>
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <!-- Mapbox link -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <script src="/js/app.js" defer></script>
    <title>Seattle Transit</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper green">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="large material-icons">menu</i></a>
                <a href="/" class="brand-logo center">Seattle Transit</a>
                <ul class="right">
                    <li>
                        <% if(user) { %>
                        <a href="/logout">
                            <i class="material-icons left">trending_flat</i>
                            Log Out
                        </a>
                        <% } else { %>
                        <a href="/auth/google">
                            <i class="material-icons left">vpn_key</i>
                            Log In
                        </a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


<!-- Sidenav -->  
<div id="slide-out" class="sidenav green">
    <div class="user-view sidebar-userinfo">
        <br>
        <div class="background white valign-wrapper profile">
            <div class="profile">
                <% if (user) { %>
                    <img src="<%= user.avatar %>" alt="" class="circle responsive-img">&nbsp;&nbsp;
                    <span class="card-title"><%= user.name %></span>
                <% } else { %>
                    <a href="/auth/google">Please Log In</a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="center-align">
        <button a href="#!" class="pillbutton"><i class="tiny material-icons">favorite</i>Favorites</button>
        <br>
        <button a href="#!" class="pillbutton"><i class="tiny material-icons">location_on</i>Locate Me</button>
        <br>
        <button a href="#!" class="pillbutton"><i class="tiny material-icons">add_alert</i>Reminders</button>
        <br>
        <button a href="#!" class="pillbutton"><i class="tiny material-icons">date_range</i>Schedules</button>
    </div>
</div>