<%- include ./partials/header.ejs %>

<!-- Incoming Busses -->
<div class="incomingbusses">
    
    <div class="row">
        <div class="col s12 m5">
            <ul id="incomingbusses"></ul>
            <!-- <div class="card-panel teal"> -->
                <!-- <span class="white-text"></span> -->
            <!-- </div> -->
        </div>
    </div>
    
</div>

<!-- Displaying Map -->
<div id='map'></div>

<!-- Display carousel -->
<div class='map-overlay-container transparent'>
    <div id="carouselParent" class='map-overlay transparent z-depth-0'>
    </div>
</div>

<!-- Button to get current location -->
<div class="center">
    <h4>Find nearby stops:</h4>
    <!-- Button to get current location -->
    <button class="btn white-text blue" id="searchBtn">Find Nearby Stops</button>
    <!-- Shows the status of the geolocation lookup -->
    <div id="locationStatus"></div>
</div>
<hr>

<script src="/js/geolocation.js" defer></script>
<script src="/js/map.js" defer></script>

<%- include ./partials/footer.ejs %>
