<%- include ./partials/header.ejs %>

<% if (user) { %>
    <p>Hello, <%= user.name %></p>
    <p>email: <%= user.email %></p>
<% } %>

<!-- Displaying Map -->
<div id='map'></div>

<!-- Button to get current location -->
<div class="center">
    <button class="btn white-text blue" id="mybutton">Get my location</button>
    <p id="currentlocation">Current Location...</p>
</div>

<script src="/js/map.js"></script>

<%- include ./partials/footer.ejs %>
