<%- include ./partials/header.ejs %>

<!-- Displaying Map -->
<div id='map'></div>

<!-- Button to get current location -->
<div class="center">
    <h4>Find nearby stops:</h4>
    <button class="btn white-text blue" id="searchBtn">Find Nearby Stops</button>
    <ul id="stopList"></ul>
</div>
<hr>

<script src="/js/geolocation.js" defer></script>
<script src="/js/map.js" defer></script>

<%- include ./partials/footer.ejs %>
