<%- include ./partials/header.ejs %>

<!-- Diplaying Map -->
<div id='map' style="height: 600px; width: 100%; margin: auto"></div>

<!-- Button to get current location -->

<div class="center">
    <h4>Find nearby stops:</h4>
    <button class="btn white-text blue" id="searchBtn">Find Nearby Stops</button>
    <ul id="stopList">
        
    </ul>
</div>
<hr>

<script src="/js/geolocation.js" defer></script>
<script src="/js/map.js" defer></script>

<%- include ./partials/footer.ejs %>
