<%- include ./partials/header.ejs %>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById("mybutton").addEventListener("click", function(e){
            e.preventDefault();
            getLocation();
        });
    });
</script>

<% if (user) { %>
    <p>Hello, <%= user.name %></p>
    <p>email: <%= user.email %></p>
<% } %>
<div>
    <button class="btn white-text blue" id="mybutton">Get my location</button>
    <p id="currentlocation">Current Location...</p>
</div>


<%- include ./partials/footer.ejs %>
