<%- include ./partials/header.ejs %>

<div id="loadscreen">
    <img src="/img/SeattleTransitLogo.svg" alt="Seattle Transit Logo">
    <h1>Know exactly <br><i>when</i><br> you're going</h1>
</div>

<!-- Incoming Busses -->
<!-- <div class="container"> -->
    <div id="incomingbusses">
        <!-- <div class="row"> -->
            <!-- <div id="incomingbusses"></div> -->
        <!-- </div> -->
    </div>
<!-- </div> -->

<!-- Displaying Map -->
<div id='map'></div>

<!-- Display carousel -->
<div class='map-overlay-container transparent'>
    <div id="carouselParent" class='map-overlay transparent z-depth-0'>
    </div>
</div>

<!-- Toggle button for carousel -->
<div id='toggle'>^</div>

<!-- Button to get current location -->
<div class="btnCenter">
    <button class="btn valign-wrapper waves-effect waves-teal" id="searchBtn">
        <div class="">
            <div id="statusCircle" class="hide">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="statusMsg" class="hide center-align"></div>
            <div id="searchMsg" class="center-align">Search For Stops</div>
        </div>
    </button>
</div>

<script src="/js/geolocation.js" defer></script>
<script src="/js/map.js" defer></script>

<%- include ./partials/footer.ejs %>
