html, body { 
    margin:0; 
    padding:0;
    height: 100vh;
    width: 100vw;
    font-family: 'PT Sans', sans-serif;
}   

/* Load Screen */
#loadscreen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
    background-color: #50bec8;
}

@media all and (min-width: 1200px) {
    #loadscreen > img {
        display: block;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    #loadscreen > h1 {
        color: white;
        font-size: 2rem;
        text-align: center;
        padding-top: 5%;
    }
}
/* Large Size Screens */
@media all and (min-width: 993px) {
    #loadscreen > img {
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    #loadscreen > h1 {
        color: white;
        font-size: 2rem;
        text-align: center;
        padding-top: 5%;
    }
}
/* Medium Size Screens */
@media all and (max-width: 992px) { 
    #loadscreen > img {
        display: block;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }
    #loadscreen > h1 {
        color: white;
        font-size: 2rem;
        text-align: center;
        padding-top: 5%;
    }
}
/* Mobile */
@media all and (max-width: 600px) { 
    #loadscreen > img {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
    #loadscreen > h1 {
        color: white;
        font-size: 3.3rem;
        text-align: center;
    }
}   


#map {
    height: 100vh; 
    width: 100vw; 
}

.mapboxgl-ctrl-group > button {
    width: 40px;
    height:40px;
}

#menu {
    position: absolute;
    z-index: 1;
    background-color: #ccff8e;
    color: #50bec8;
    border-radius: 12px;
    font-size: 50px;
}

.sidenav {
    background-color: #ccff8e;
}

.profile {
    background-color: #50bec8;
}
/* Search button and Status Messages */
#searchBtn {
    position: absolute;
    margin: auto;
    z-index: 1;
    top: 89.7vh;
    border-radius: 50px;
    width: 100vw;
    height: 6vh;
    background-color: #ccff8e;
    color: #50bec8;
}
#statusCircle {
    /* float: left; */
    display: inline-block;
}

#statusMsg {
    display: inline-block;
    /* width: 60vw; */
    /* left: 50%; */
} 

.map-overlay-container {
    position: absolute;
    width: 25%;
    top: 62vh;
    padding: 0;
    z-index: 1;
    width: 100vw;
}

.map-overlay {
    font: 12px/20px;
    background-color: #fff;
    border-radius: 3px;
    padding: 0;
    box-shadow:0 1px 2px rgba(0,0,0,0.20);
}

.carousel {
    height: 200px;
    margin:0;
    padding: 0;
}

.carousel-item {
    background-color: #50bec8;
    border-radius: 100px;
    padding-bottom: 0;
    color: white;
}

#toggle {
    position: absolute;
    background-color: #50bec8;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 50px;
    z-index: 1;
    left: 44vw;
    top: 83vh;
}

.pillbutton {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 16px 6vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8% 2px;
    cursor: pointer;
    border-radius: 28px;
}
.pillbutton:hover {
    background-color: #f1f1f1;
}
.circle {
    display: inline-block !important;
}
i {
    padding: 0;
}

.sidebar-userinfo {
    height: 25vh;
}

.profile{
    text-align: center;
    padding:1em;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
#log{
    z-index: 9999999999 !important;
}

/* .buscontainer {
    top: 5vh;
    width: 100%;
    padding: 0 2em;
} */
/* .buscontainer .card-panel {
    width: 95%; 
    align-items: center;
} */
/* .card-panel {
    text-align: center;
    width: 40vw;
    min-width: 270px;
    max-height: 50vh;
    display: flex; 
} */

.incomingbuscard {
    align-content: center;
    background-color: #ccff8e;
    text-align: center;
    padding: 0 !important;
    display: flex;
}
#incomingbusses div{
    margin: 1%;
    padding: 0 !important;
    border-radius: 40px;
}

#incomingbusses {
    position: absolute;
    top: 139px;
    width: 95%;
    overflow: auto;
    height: 62vh;
    z-index: 1;
}
.row {
    margin: auto;
}