html, body { 
    margin:0; 
    padding:0;
    height: 100vh;
    width: 100vw;
}   

#map {
    height: 74vh; 
    width: 100vw; 
}

.pillbutton {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 16px 6vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8% 2px;
    cursor: pointer;
    border-radius: 28px;
}
.pillbutton:hover {
    background-color: #f1f1f1;
}
.circle {
    display: inline-block !important;
}
i {
    padding: 0 10px 0 0;
}

.sidebar-userinfo {
    height: 25vh;
}
/* .navbottom {
    height: 10vh;
    position: fixed;
    bottom: 0px;
    left: 0;
} */
.profile{
    text-align: center;
    padding:1em;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
#log{
    z-index: 9999999999 !important;
}

.incomingbusses {
    z-index: 1;
    position: absolute;
    display: flex;
    bottom: 175px;
    width: 100%;
}
.card-panel {
    text-align: center;
    width: 30vw;
    border-radius: 30px;
    align-content: center;
}